@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Proxima Light';
  src: url('../fonts/light/2B51A3_66_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/light/2B51A3_66_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/light/2B51A3_66_0.woff') format('woff'), /* Modern Browsers */
       url('../fonts/light/2B51A3_66_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/light/2B51A3_66_0.svg#wf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Regular';
  src: url('../fonts/regular/2B51A3_7A_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/regular/2B51A3_7A_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/regular/2B51A3_7A_0.woff') format('woff'), /* Modern Browsers */
       url('../fonts/regular/2B51A3_7A_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/regular/2B51A3_7A_0.svg#wf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Bold';
  src: url('../fonts/bold/2B51A3_7C_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bold/2B51A3_7C_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bold/2B51A3_7C_0.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bold/2B51A3_7C_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bold/2B51A3_7C_0.svg#wf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Italic';
  src: url('../fonts/italic/2B51A3_67_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/italic/2B51A3_67_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/italic/2B51A3_67_0.woff') format('woff'), /* Modern Browsers */
       url('../fonts/italic/2B51A3_67_0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/italic/2B51A3_67_0.svg#wf') format('svg'); /* Legacy iOS */
}

body {
	padding: 0px 0px 50px 0px;	
	color: #000000;
    overflow-x: hidden;
	font-family: 'Proxima Regular', Arial, Helvetica, sans-serif !important; 
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
}

#subnav-on { }

#cbi_contactus input, 
#cbi_contactus textarea, 
#cbi_contactus button { margin-top:10px }

.omega {
	padding-right: 0px;	
}

.alpha {
	padding-left: 0px;	
}

.container-fixed {
	width: 100%;	

}

.alert-warning {
    background-color: #d7d7d7;
    border-color: #999999;
    color: #000000;
}

a:hover {
	text-decoration: none;	
}

p { font-size: 16px; line-height: 1.2em; }

.logo-fixed {
	width: 100%;
	top: 0px;
	z-index: 1001;
	background: #ffffff;
	padding: 0px;
	margin: 0px;	
}

.footer-fixed {
	position: fixed;
	width: 100%;
	height: 55px;
	bottom: 0px;
	z-index: 1001;
	margin: 0px;
	background: #ffffff;	
}

.dot {
	margin: 2px 0px 10px 0px;
	border-style: dotted;
	border-color: #999999;	
}

.dot-under {
	margin: 2px 0px 10px 0px;
	border-style: dotted;
	border-color: #999999;
	position: relative;
    top: 30px;	
}

.dot-under-twitter {
	margin: 2px 0px 10px 0px;
	border-style: dotted;
	border-color: #999999;
	position: relative;
    top: 19px;	
}

.margin-bottom, .article, .sp {
	margin-bottom: 15px;	
}

.logo img {
	margin: 0 auto;	
	margin-top: 12px;
	margin-bottom: 10px;
}

.tagline h2 {
	font-size: 16px;
	margin-top: 0px;	
}

.carousel-indicators {
    bottom: -35px;
}

.featured-carousel {
	margin-bottom: 35px;	
}

.featured-carousel .carousel-inner .item.feature .text h2  {
    text-transform: uppercase;
	line-height: 1em;
	margin-top: 10px;
}

.featured-carousel .icon {
	font-size: 4em;
	position: absolute;
	bottom: 25px;
	right: 90px;	
}

.featured-carousel .carousel-inner .item.feature .text {
	padding-left: 40px;	
}

.half-button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: 1px solid #999999;
	padding: 7px;
	text-align: center;
	color: #999999;	
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.2em;
	transition: color .25s ease-in-out, border .25s ease-in-out;
   -moz-transition: color .25s ease-in-out, border .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out, border .25s ease-in-out;
}

.half-button:hover {
	border: 1px solid #000000;
	color: #000000;
}

.hover-container { float: left; width: 100%; }

.news-item {
	float: left;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 0px;
	left: 15px;
	width: 96%;
	background: none;
	color: #000000;
	border: 1px solid #999999;
}

.sticky-news-item {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 0px;
	width: 100%;
	background: none;
	color: #000000;
	border: 1px solid #999999;
}

.col-sm-6 .news-item { width: 91%; }

.video, .audio, .case_study, .opinion, .text_fact, .data_fact, .graphic_fact, .news_item, .event, .toolkit, .factsheet_fact {
	float: left;
	position: absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 0px 0px 10px 0px;
	left: 15px;
	height: 100%;
	width: 96%;
	transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
}

.cat-video .philtrum,  .cat-audio .philtrum, .cat-case_study .philtrum, .cat-opinion .philtrum, .cat-text_fact .philtrum, .cat-data_fact .philtrum, .cat-factsheet_fact .philtrum, .cat-graphic_fact .philtrum, .cat-news_item .philtrum, .cat-event .philtrum, .cat-toolkit .philtrum, .cat-video .philtrum-ninety,  .cat-audio .philtrum-ninety, .cat-case_study .philtrum-ninety, .cat-opinion .philtrum-ninety, .cat-text_fact .philtrum-ninety, .cat-data_fact .philtrum-ninety, .cat-factsheet_fact .philtrum-ninety, .cat-graphic_fact .philtrum-ninety, .cat-news_item .philtrum-ninety, .cat-event .philtrum-ninety, .cat-toolkit .philtrum-ninety {
	color: #ffffff;
	transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

.hover-container:hover .video, .hover-container:hover .audio
{ background-color: #fad2e3; color: #fad2e3; border: 1px solid #999999; }

.hover-container:hover .case_study
{ background-color: #cceaee; color: #cceaee; border: 1px solid #999999; }

.hover-container:hover .opinion
{ background-color: #e9f6cc;  color: #e9f6cc; border: 1px solid #999999; }

.hover-container:hover .text_fact, .hover-container:hover .graphic_fact, .hover-container:hover .data_fact, .hover-container:hover .factsheet_fact
{ background-color: #ffe6d9; color: #ffe6d9; border: 1px solid #999999; }

.hover-container:hover .news_item, .hover-container:hover .event
{ background-color: #cccccc; color: #cccccc; border: 1px solid #999999; }

.hover-container:hover .toolkit
{ background-color: #cccccc;  color: #cccccc; border: 1px solid #999999; }


.hover-container:hover .cat-video .philtrum, .hover-container:hover .cat-audio .philtrum, .hover-container:hover .cat-video .philtrum-ninety, .hover-container:hover .cat-audio .philtrum-ninety
{ color: #fad2e3; }

.hover-container:hover .cat-case_study .philtrum, .hover-container:hover .cat-case_study .philtrum-ninety
{ color: #cceaee; }

.hover-container:hover .cat-opinion .philtrum, .hover-container:hover .cat-opinion .philtrum-ninety
{ color: #e9f6cc; }

.hover-container:hover .cat-text_fact .philtrum, .hover-container:hover .cat-data_fact .philtrum, .hover-container:hover .cat-factsheet_fact .philtrum, .hover-container:hover .cat-graphic_fact .philtrum, .hover-container:hover .cat-text_fact .philtrum-ninety, .hover-container:hover .cat-data_fact .philtrum-ninety, .hover-container:hover .cat-factsheet_fact .philtrum-ninety, .hover-container:hover .cat-graphic_fact .philtrum-ninety
{ color: #ffe6d9; }

.hover-container:hover .cat-news_item .philtrum, .hover-container:hover .cat-event .philtrum, .hover-container:hover .cat-news_item .philtrum-ninety, .hover-container:hover .cat-event .philtrum-ninety
{ color: #cccccc; }

.hover-container:hover .cat-toolkit .philtrum, .hover-container:hover .cat-toolkit .philtrum-ninety
{ color: #cccccc; }


.sp .video, .sp .audio, .sp .case_study, .sp .opinion, .sp .text_fact, .sp .data_fact, .sp .graphic_fact, .sp .news_item, .sp .event, .sp .toolkit, .sp .factsheet_fact {
	width: 91.4%;
}

.col-sm-6 .video, .col-sm-6 .audio, .col-sm-6 .case_study, .col-sm-6 .opinion, .col-sm-6 .text_fact, .col-sm-6 .data_fact, .col-sm-6 .factsheet_fact, .col-sm-6 .graphic_fact, .col-sm-6 .news_item, .col-sm-6 .event, .col-sm-6 .toolkit { width: 91%; }

.cat-logo {
	height: 100%;
	position: absolute;	
	min-height: 1px;
    padding: 10px;
    width: 16.6667%;
	float: left;
	z-index: 10;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;	
	overflow: hidden;
}

.lower-cat-logo {
	height: 100%;
	position: absolute;	
	min-height: 1px;
    padding: 10px;
    width: 25%;
	float: left;
	z-index: 10;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
}

.sticky-cat-logo {
	height: 150px;
	min-height: 1px;
    padding: 10px;
    width: 100%;
	float: left;
	z-index: 10;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	overflow: hidden;
}

.cat-meta {
	left: 16.6667%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 70px;
	z-index: 12;
	line-height: 1.2em;
	font-size: 18px;
	min-height: 60px;
}

.lower-cat-meta {
	left: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	z-index: 12;
	min-height: 60px;
	line-height: 1.2em;
	font-size: 18px;
}


.sticky-cat-meta {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 70px;
	z-index: 12;
	line-height: 1.2em;
	font-size: 18px;
}

.sticky-cat-meta .entry-title-home {
    font-size: 18px;
    line-height: 18px;
}

.philtrum {
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	right: 0px; 
	font-size: 12em;
	overflow: hidden;	
}

.philtrum-ninety {
	bottom: -4px;
    color: #ffffff;
    font-size: 24em;
    left: 50%;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);	
}

.philtrum-under {
	bottom: -4px;
    color: #ffffff;
    font-size: 12em;
    left: 50%;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);	
}

.triangle {
	display: none;
	bottom: -6px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
	border: 7px solid transparent;
	border-bottom: 0;
	border-top-color: #000000;
	height: 0;
	width: 0;
}

.mini-text_fact, .mini-graphic_fact, .mini-data_fact, .mini-video, .mini-audio, .mini-case_study, .mini-opinion, .mini-news_item, .mini-event, .mini-toolkit, .mini-factsheet_fact {
	position: absolute;
	top: 50%;
	right: 13px;
	font-size: 2.5em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    transform: translateY(-50%);
	color: #CCCCCC;
	transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.col-sm-6 .lower-mini-text_fact, .col-sm-6 .lower-mini-graphic_fact, .col-sm-6 .lower-mini-data_fact, .col-sm-6 .lower-mini-factsheet_fact, .col-sm-6 .lower-mini-video, .col-sm-6 .lower-mini-audio, .col-sm-6 .lower-mini-case_study, .col-sm-6 .lower-mini-opinion, .col-sm-6 .lower-mini-news_item, .col-sm-6 .lower-mini-event, .col-sm-6 .lower-mini-toolkit {
	position: absolute;
	font-size: 1.2em;
	bottom: 13px;
	right: 13px;
	color: #CCCCCC;
	transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.hover-container:hover .mini-text_fact, .hover-container:hover .mini-graphic_fact, .hover-container:hover .mini-data_fact, .hover-container:hover .mini-factsheet_fact, .hover-container:hover .lower-mini-text_fact, .hover-container:hover .lower-mini-graphic_fact, .hover-container:hover .lower-mini-data_fact, .hover-container:hover .lower-mini-factsheet_fact, .content-orange {
	color: #ff8043;
}

.hover-container:hover .mini-video, .hover-container:hover .mini-audio, .hover-container:hover .lower-mini-video, .hover-container:hover .lower-mini-audio, .content-pink {
	color: #e81e75;
}

.hover-container:hover .mini-case_study, .hover-container:hover .lower-mini-case_study, .content-teal {
	color: #0098aa;
}

.hover-container:hover .mini-opinion, .hover-container:hover .lower-mini-opinion, .content-green {
	color: #8fd400;
}

.hover-container:hover .mini-news_item, .hover-container:hover .mini-event, .hover-container:hover .lower-mini-news_item, .hover-container:hover .lower-mini-event, .content-black {
	color: #000000;
}

.hover-container:hover .mini-toolkit, .hover-container:hover .lower-mini-toolkit, .content-grey {
	color: #a7a9ac;
}

.content-pink-twenty { color: #fad2e3; }
.content-teal-twenty { color: #cceaee; }
.content-green-twenty { color: #e9f6cc; }
.content-orange-twenty { color: #ffe6d9; }
.content-black-twenty { color: #cccccc; }
.content-grey-twenty { color: #cccccc; }

.background-pink { background: #e81e75; }
.background-teal { background: #0098aa; }
.background-green { background: #8fd400; }
.background-orange { background: #ff8043; }
.background-black { background: #000000; }
.background-grey { background: #a7a9ac; }

.background-pink-twenty { background: #fad2e3; }
.background-teal-twenty { background: #cceaee; }
.background-green-twenty { background: #e9f6cc; }
.background-orange-twenty { background: #ffe6d9; }
.background-black-twenty { background: #cccccc; }
.background-grey-twenty { background: #cccccc; }

.excerpt {
	color: #000000;
	font-style:normal;
}

time {
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: 20px;
	margin-right: 10px;
}

.entry-title-home {
	display: inline;	
	margin: 0px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: 20px !important;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
}

.show-more {
	margin-bottom: 15px;	
}

.show-more a {
	color: #999999;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	font-size: 15px;
	line-height: 1.2em;
	transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

.show-more a:hover {
	color: #000000;
}

.entry-content, .pagina {
	text-align: justify;	
}

.entry-content img, .pagina img {
	display: block;
    height: auto;
    max-width: 100%;
	padding: 10px;
}

article header {
	margin-bottom: 25px;	
}

.article p:first-child {
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 	
}

.article h1, .article h2, .article h3, .article h4, .article h5 {
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important;
	margin: 10px 0px; 	
	text-transform: uppercase;
}

.article h1 { font-size: 28px; }
.article h2 { font-size: 24px; }
.article h3 { font-size: 20px; }

.aut-img {
	margin: 0px 0px 10px 20px; 
	width: 135px; 
	height: 150px; 
	float: right; 	
}

.blockquote-wrapper {
	float: right;
	width: 50%;	
	padding: 10px 0px 10px 20px;
	font-family: 'Proxima Italic', Arial, Helvetica, sans-serif !important; 
	font-size: 20px;
	line-height: 1em;
}

.blockquote-blue {
	background-color:#0098aa;
	color:white;
	padding:10px 13px; 
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	position: relative;
}

.blockquote-green {
	background-color:green;
	color:white;
	padding:10px 13px;
	margin-left:50px;	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
	position: relative;
}

.blockquote-green:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 15px solid transparent; 
}

.blockquote-blue:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 15px solid transparent; 
}

.blockquote-green:before {
	border-bottom: 15px solid #008000;
    border-top: 0;
    border-left: 15px dotted rgba(255, 255, 255, 0); 
    border-right: 15px dotted rgba(255, 255, 255, 0);
	border-color: transparent transparent #008000 transparent;
	border-color:  rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #008000 rgba(255, 255, 255, 0);  
	top: -10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
	z-index: 2;
}

.blockquote-blue:after {
	border-bottom: 0;
    border-top: 10px solid #0098aa;
    border-left: 10px dotted rgba(255, 255, 255, 0); 
    border-right: 10px dotted rgba(255, 255, 255, 0);
	border-color: #0098aa transparent transparent transparent;
	border-color:  #0098aa rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	bottom: -10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
	z-index: 1;
}

.border-radius {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;		
}

.share {
	margin: 20px 0px;
}

.categories {
	margin: 20px 0px 0px 0px;	
	padding-left: 15px;
}

.categories a {
	color: #999999 !important;	
}

.categories a:hover {
	color: black !important;
	text-decoration: underline;	
}

.share a {
	margin: 20px 0px 10px 10px;
	font-size: 14px;
	line-height: 1.2em;
	color: #999999 !important;	
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
}

.share a:hover {
	color: #000000 !important;	
}

.share span {
	font-size: 26px;	
	vertical-align: middle;
}

.pager {
	margin: 0px;
	text-align: center;	
}

.pager li {
	display: inline;	
}

.pager li > a, .pager li > span {
    background-color: none;
    border: none;
    border-radius: 0px;
    display: inline-block;
    padding: 0px 5px;
	color: #999999;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	font-size: 28px;
}

.pager li > a:hover, .pager li > a:focus {
    background-color: none;
}

.sticky-post {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sticky-post h3 {
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 100%;
	padding: 0px 10px;
	margin: 0px;
}

.sticky-post h3 a, .sticky-post-bottom h3 a, a .sticky-post h3 {
	color: #000000;
	font-size: 20px;
	line-height: 1.1em;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 	
	text-transform: uppercase;	
}

.sticky-post h3 a:hover {
	text-decoration: underline;
}

.twitter h3 {
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	font-size: 18px;
	line-height: 1em;	
	margin-top: 0px;
	text-transform: uppercase;
	background: #ffffff;
}

.twitter h3 a {
	color: #000000;	
}

.rtw_main {
	font-size: 14px;
	line-height: 1.2em;	
}

.rtw_main a, .rtw_meta a, .article a {
	color: #66c1c8;	
}

.social-media {
	margin-top: 10px;
	font-size: 24px;
}

.social-media a {
	color: #000000;
	padding: 0px 4px;	
}

.social-media a:hover {
	color: #999999;	
}

.related h3,
.quick-links h3 {
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	font-size: 22px;
	line-height: 1.2em;	
	text-transform: uppercase;
	background: #ffffff;
}

.ql { padding: 0px; }

#menu-quick-links {
	list-style-type: none;
	text-align: center;	
	margin-left: 0px;
	padding-left: 0px;
}

#menu-quick-links .col-sm-2 {
	padding-left: 8px;
	padding-right: 8px;	
}

#menu-quick-links .col-sm-2:first-child {
    padding-left: 15px;
}

#menu-quick-links .col-sm-2:last-child {
    padding-right: 15px;
}

#menu-quick-links li {
	display: inline;
}

#menu-quick-links li a {
	float: left;
	width: 100%;
	font-size: 11px;
    text-transform: uppercase;
	padding: 8px 4px;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	color: #ffffff;
	line-height: 0.9em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	position: relative;
}

.ql .media a { background: #e81e75; height: 95px; }
.ql .case-studies a { background: #0098aa; height: 95px; }
.ql .facts-figures a { background: #ff8043; height: 95px; }
.ql .opinions a { background: #8fd400; height: 95px; }
.ql .toolkit-debate a { background: #a7a9ac; height: 95px; }
.ql .news-events a { background: #000000; height: 95px; }

.ql .media a, .ql .case-studies a, .ql .facts-figures a, .ql .opinions a, .ql .toolkit-debate a, .ql .news-events a {
	-moz-opacity: 100;
	-khtml-opacity: 100;
	opacity: 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.ql .media a:hover, .ql .case-studies a:hover, .ql .facts-figures a:hover, .ql .opinions a:hover, .ql .toolkit-debate a:hover, .ql .news-events a:hover {
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0.70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.70);
	filter:alpha(opacity=0.70);
}
.ql span {
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	font-size: 50px;	
}


#menu-footer {
	list-style-type: none;
	text-align: center;	
	margin-top: 15px;
	margin-left: 0px;
	padding-left: 0px;
}

#menu-footer li {
	display: inline;	
}

#menu-footer li a {
	white-space: nowrap;
	padding: 5px;	
	color: #000000;
	font-size: 12px;
	line-height: 1.2em;
}

#menu-footer li a:hover, #menu-footer li a:active {
	text-decoration: underline;
}

.footer-bold a {
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
}

.widget_nav_menu h3 {
	display: none;
}

.footer-fixed img {
	margin: 0 auto;	
}

.footer-fixed a {
	font-size: 20px;
	color: #999999;	
}

.footer-fixed a:hover, .footer-fixed a:focus {
	color: #000000;	
}

/*** Sitemap menu items ****/
#main-sitemap, 
#ql-sitemap,
#foo-sitemap {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#main-sitemap li a, 
#ql-sitemap li a,
#foo-sitemap li a {
    color: #000;
}

#main-sitemap li a:hover, 
#ql-sitemap li a:hover,
#foo-sitemap li a:hover {
    text-decoration: underline;
}

/* EDIT CORE BOOTSTRAP */

.center-block {
	float: none;	
}

.navbar {
    margin-bottom: 10px;
    margin-top: 0px;
    min-height: 20px;
}
.navbar-static-top {
    border-radius: none;
	border-width: 0px;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu li a {
    color: #000000;
	font-size: 14px;
	line-height: 1.2em;
	text-transform: uppercase;
	padding: 10px 4px;
}

.dropdown-menu > li > a {
    background: white;
}

.navbar-default .navbar-nav > li > a:hover, .dropdown-menu li a:hover {
    color: #ffffff;
	background: #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #000000;
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	color: #ffffff;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
    background-color: #ffffff;
    font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
	color: #000000;
	border: 1px solid #000000;
}

/*.nav > li > a:first-child {
    padding-left: 3px;
}

.nav > li > a:last-child {
    padding-right: 3px;
}*/

.navbar-toggle {
    background-color: #000000;
	border: 2px solid black;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
    margin-top: 14px;
    margin-bottom: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
	
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}

.dropdown-menu {
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}

.page-header {
	border: none;	
	margin: 0px;
} 

.page-header h1, .entry-title {
	font-size: 30px;
	line-height: 1.2em;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif !important; 
}

.author, .published {
	font-size: 19px;	
}

.author a {
	color: #66c1c8;	
}

.carousel-indicators li {
    background-color: #ffffff;
	border: 1px solid #666666;
}

.carousel-indicators .active {
    background-color: #666666;
}

.hero .mask.mask-left {
    left: 0;
}
.hero .mask.mask-right {
    right: 0;
}
.hero .mask {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.hero .mask.mobile {
   display: none;
}

.contact-details:before {
    color: #000000;
    content: "\e602";
    font-family: 'tgbd-icons';
    font-size: 110px;
    left: 0;
    margin-left: -110px;
    position: absolute;
    top: 36%;
}

.icon {
	vertical-align: middle;	
}

.form-control {
	border: 1px solid #cacaca;	
	padding: 4px 8px;
	height: 40px;
	color: #000000 !important;
	font-size: 18px;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
}

.form-control:focus {
    border-color: #cacaca;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(153, 153, 153, 0.6);
}

.search-form .form-control {
	height: 34px;
	font-size: 16px;
}	

.search-filters .form-control {
	font-size: 14px;
	height: 30px;
	font-family: 'Proxima Regular', Arial, Helvetica, sans-serif;	
}

.search-query {
	font-family: 'Proxima Regular', Arial, Helvetica, sans-serif;
	font-size: 24px;	
}

#cbi_newsletter .form-control, #survey_data .form-control {
	width: 100%;	
	margin: 0 auto 10px auto;
}

#cbi_newsletter .btn, #cbi_survey .btn {
		margin-top: 33px;	
	}

.form-control::-webkit-input-placeholder {
   color: black;
}

.form-control::-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.form-control:-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

.form-control:-ms-input-placeholder {  
   color: black;  
}

input[placeholder] {
	color: black;	
}

#cbi_newsletter h3 {
	margin: 0px 0px 30px;
	font-size: 26px;
}

.news-pad {
	padding: 25px;	
}

#cbi_newsletter .icon, #cbi_survey .icon {
	font-size: 5em;
	color:#d7d7d7;
}

#survey_data h3 {
	margin: 0px 0px 30px;
	font-size: 34px;
}

.btn-primary {
	width: 100%;	
	background: #666666;
	border-color: #cacaca;
	height: 40px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Proxima Bold', Arial, Helvetica, sans-serif;
	transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
    margin-bottom: 7px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #000000;
    border-color: #cacaca;
    color: #fff;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 3px 7px 0 0;
    vertical-align: middle;
	background: white;
	cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
	background: white;
    margin-left: 0px;
}

.baby-button {
	width: auto;	
}

.checkbox { padding-left: 0px;}

.toolkit-wrapper .checkbox {clear:both;float:left;width:100%;}

.toolkit-wrapper .checkbox img {height:28px}

#cbi_survey .survey-rfb {
	border-top: 1px dotted #999999;
	padding: 10px 0px 5px;
	font-size: 18px;	
}

#cbi_survey p {
	font-size: 18px;	
}

#cbi_survey .surv-first {
	border-top: none;	
}

#show-hide {
	color: #999999;
    margin-bottom: 7px;
    position: absolute;
    right: 153px;
	font-size: 15px;
    top: -35px;
	text-align: right;
}

#show-hide:hover, #show-hide:focus {
	text-decoration: none;	
	color: #000000;
}

.search-filters .btn {
	height: 30px;
	padding: 0px;
}

.search-filters .form-control {
	padding: 4px;	
}

/* panels */

.panel {
	float:right;
	width: 40%;
	margin: 5px 0px 15px 20px;
	border: none !important;
	color: #ffffff !important;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5 {
	margin-top: 0px;
	color: #ffffff !important;	
}

.panel ul {
	padding-left: 15px;	
	color: #ffffff !important;
}

.panel-body {
	padding: 20px;	
}

sup { top: 0; }

/* User defined css */

a.content_anch, a.content_anch:hover { color: #000000; text-decoration: none; display:block;}
.search-filters { margin-bottom: 15px; }
#survey_data, #newsletter { width: 640px; height: auto; margin: 0; }

/* video responsive */

.entry-content-asset {
height: 0;
padding-top: 25px;
padding-bottom: 67.5%;
margin-bottom: 10px;
position: relative;
overflow: hidden;
}
 
.entry-content-asset {
padding-bottom: 57.25%;
}
 
.entry-content-asset {
padding-top: 0;
}

.entry-content-asset embed, .entry-content-asset iframe, .entry-content-asset object, .entry-content-asset video {
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
}

/* fancybox */

#fancybox-outer, #fancybox-content {
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	
	border-radius: 5px;	
}

/* Pagination css */

.pagination-wrap {
    clear: both;
    display: block;
    overflow: hidden;
    text-align: center;
}

.pagination-wrap .pagination > li > a,
.pagination-wrap .pagination > li > span {
    padding: 10px 15px;
    font-weight: bold;
    color: #000;
}

.pagination-wrap .pagination .current {
    background-color: #ddd;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
	
	.container{ width:750px; }
		
	.navbar-centered .navbar-nav {
		float: none;
		text-align: center;
	}
	
	.navbar-centered .navbar-nav > li {
		/*float: none;*/
	}
	
	.navbar-centered .nav > li {
		display: inline;
		text-transform: uppercase;
	}
	
	.navbar-centered .nav > li > a, .dropdown-menu li a {
		/*display: inline-block;*/
		text-transform: uppercase;
		border: 1px solid #999999;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-right: 4px;
		font-size: 13px;
		bcakground: white;
	}
	
	.nav > li:last-child > a {
   		margin-right: 0px;	
	}
	
	.dropdown-menu li:nth-child(4) a {
   		margin-right: 0px;	
	}
	
	#menu-primary {
		padding: 0px 3px;	
	}
	
	#menu-primary li {
		width: 25%;	
	}
	
	.dropdown-menu {
		width: 400%;
	}
	
	.dropdown-menu li { 
		width: 100%;
		display: inline-block;
		float: left;
	}
	
	.dropdown-menu li a {
		padding: 10px 5px;
		line-height: 1.2em;
		white-space: normal;
		font-family: 'Proxima Regular', Arial, Helvetica, sans-serif !important; 
		font-size: 13px;
	}

	#menu-primary .dropdown:nth-child(2) .dropdown-menu {
   		left: -100%;	
	}
	
	#menu-primary .dropdown:nth-child(3) .dropdown-menu {
   		left: -200%;	
	}
	
	#menu-primary .dropdown:nth-child(4) .dropdown-menu {
   		left: -300%;	
	}
	
	.caret { display: none; }
}

@media (max-width: 767px) {
	body { padding-top: 100px; }
	
	.caret { display: none; }
	
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.delta {
		padding-right: 0px;	
	}
	
	.beta {
		padding-left: 0px;	
	}
	
	.dropdown-menu {
		width: 100%;
		display: block;	
		position: relative;
		padding: 0px;
	}
	
	.dropdown-menu li {
		padding: 0px 0px 0px 20px;
	}
	
	.navbar-collapse {
		max-height: 205px;	
	}
	
	.triangle { display: none !important; }
	
	#menu-primary a {
		padding: 5px;	
	}
	
	.nav > li { float: left; width: 100%; }
	
	.logo img {
		margin: 0 auto;	
	}
	
	.news-item, .news_item, .video, .audio, .case_study, .opinion, .text_fact, .data_fact, .factsheet_fact, .graphic_fact, .event, .col-sm-6 .news_item, .col-sm-6 .video, .col-sm-6 .audio, .col-sm-6 .case_study, .col-sm-6 .opinion, .col-sm-6 .text_fact, .col-sm-6 .data_fact, .col-sm-6 .graphic_fact, .col-sm-6 .event, .col-sm-6 .toolkit, .col-sm-6 .news-item  {
		left: 0px;
		width: 100%;
	}
	
	.cat-logo, .lower-cat-logo {
		width: 25%;
	}
	
	.cat-meta, .lower-cat-meta {
		left: 25%;	
		padding-top: 5px;
		padding-right: 40px;
		font-size: 14px;
		line-height: 1em;
		padding-left: 10px;
	}
	
	.mini-text_fact, .mini-graphic_fact, .mini-data_fact, .mini-factsheet_fact, .mini-video, .mini-audio, .mini-case_study, .mini-opinion, .mini-news_item, .mini-event, .mini-toolkit, .col-sm-6 .lower-mini-text_fact, .col-sm-6 .lower-mini-graphic_fact, .col-sm-6 .lower-mini-data_fact, .col-sm-6 .lower-mini-factsheet_fact, .col-sm-6 .lower-mini-video, .col-sm-6 .lower-mini-audio, .col-sm-6 .lower-mini-case_study, .col-sm-6 .lower-mini-opinion, .col-sm-6 .lower-mini-news_item, .col-sm-6 .lower-mini-event, .col-sm-6 .lower-mini-toolkit {
		font-size: 1.5em;
		right: 5px;
	}
	
	.col-sm-6 .lower-mini-text_fact, .col-sm-6 .lower-mini-graphic_fact, .col-sm-6 .lower-mini-data_fact, .col-sm-6 .lower-mini-factsheet_fact, .col-sm-6 .lower-mini-video, .col-sm-6 .lower-mini-audio, .col-sm-6 .lower-mini-case_study, .col-sm-6 .lower-mini-opinion, .col-sm-6 .lower-mini-news_item, .col-sm-6 .lower-mini-event, .col-sm-6 .lower-mini-toolkit {
		top: 50%;
		bottom: inherit;
   		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);	
	}
	
	.entry-title-home, .published {
		font-size: 14px !important;
		line-height: 1em;
	}
	
	.page-header h1, .entry-title {
		font-size: 24px;
		line-height: 1.2em;
	}
	
	.logo-fixed { 
		position:fixed;
		z-index:900;
        opacity:0.95;
	}
	
	.navbar {
	   margin:0px;
	}
	
	.logo-fixed .center-block {
		margin: 10px 0px;
		float: left;	
		z-index: 1001;
	}
	
	.social-media {
		margin-top: 5px;
	}
		
	.related h3,
        .quick-links h3 {
		margin-top: 7px
	}
	
	.dot-under {
		margin-left: 15px;
		margin-right: 15px;	
	}
	
	#menu-quick-links .col-sm-2 {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 7px;
	}
	
	#menu-quick-links li a {
		height: 30px;
		font-size: 16px;
	}
	
	.ql span {
		font-size: 22px;
		left: 5px;
		position: absolute;
		top: 4px;
		width: 30px;
	}
	
	#menu-footer li a {
		padding: 0px 15px;
		font-size: 14px;
	}
	
	.footer-fixed {
		height: 45px;	
	}
	
	.footer-fixed a {
		font-size: 14px;
	}
	
	.search-form .form-control {
		width: 79%;	
		height: 24px;
		padding: 3px;
	}
	
	#newsletter, #survey_data {
		width: 100%;	
	}
	
	#newsletter h3, #cbi_survey h3  {
		font-size: 18px;	
	}
	
	.hero .mask.mobile.mask-left, .hero .mask.mobile.mask-right {
		display: block !important;
	}
	
	.hero .mask.mask-left {
		display: none !important;
	}
	
	.hero .mask.mask-right {
		display: none !important;
	}
	
	.contact-details, .contact-map {
		height: 100% !important;	
	}
	
	.contact-details:before {
		content: '';
	}
        
	.icon-search-mobile {
		float: left;
		margin-right: 5px;
		margin-top: 5px;
	}
	
	#show-hide {
		position: relative;
		top: 0;
		right: 0;
		text-align: left;
	}
	
	.search-filters .form-control {
		margin-bottom: 10px;	
	}
	
	.survey-bottone {
		margin-bottom: 15px;	
	}
	
	.news-pad {
		padding: 10px;	
	}
	
	#cbi_newsletter .icon, #cbi_survey .icon {
		font-size: 2.5em;
	}
	
	#cbi_newsletter .icon {
		margin-top: 20px;	
	}
	
	.form-control {
		font-size: 14px;	
	}
	
	#cbi_newsletter .btn, #cbi_survey .btn {
		margin-top: 0px;	
	}
	
	#cbi_survey .survey-rfb {
		font-size: 14px;	
	}
	
	.aut-img {
		width: 105px; 
		height: 130px; 	
	}

}

@media (min-width:992px){ .container{width:800px} }
@media (min-width:1200px){ .container{width:800px} }